@import '../../styles/partials/variables';

// .main {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   padding: 6rem;
// }

.aboutHeader {
  font-size: 2rem;
  color: #333;
  margin: 0 0 1rem 0;
}

