@import "../styles/partials/__partials";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 1rem;
  background-color: $color-primary;
  color: white;
  border: 1px solid black;
}

.tagline {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}