.nav {
  ul {
    list-style: none;
    display: flex;
    li {
      margin-right: 1rem;
      a {
        text-decoration: none;
        color: #333;
        &:hover {
          color: #999;
        }
      }
    }
  }
}
